<!DOCTYPE html>
<!-- saved from url=(0048)https://www.help.tinder.com/hc/ko?utm_source=web -->
<html dir="ltr" lang="ko"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <!-- v18091 -->

  <title>함께혼밥</title>

  <meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="hc:meta:server:NmJiJQb+a+K6WviGQScQHn9koKUymrHYj0UkjBvxWiCvzYmnzI/J6KbFq8EQfniimteHRAFJ2tgi0OH88XHP7Q==">

  <link rel="canonical" href="https://www.help.tinder.com/hc/ko">
<link rel="alternate" hreflang="ar" href="https://www.help.tinder.com/hc/ar">
<link rel="alternate" hreflang="bg" href="https://www.help.tinder.com/hc/bg">
<link rel="alternate" hreflang="ca" href="https://www.help.tinder.com/hc/ca">
<link rel="alternate" hreflang="cs" href="https://www.help.tinder.com/hc/cs">
<link rel="alternate" hreflang="da" href="https://www.help.tinder.com/hc/da">
<link rel="alternate" hreflang="de" href="https://www.help.tinder.com/hc/de">
<link rel="alternate" hreflang="el" href="https://www.help.tinder.com/hc/el">
<link rel="alternate" hreflang="en" href="https://www.help.tinder.com/hc/en-us">
<link rel="alternate" hreflang="es" href="https://www.help.tinder.com/hc/es">
<link rel="alternate" hreflang="es-419" href="https://www.help.tinder.com/hc/es-419">
<link rel="alternate" hreflang="es-es" href="https://www.help.tinder.com/hc/es-es">
<link rel="alternate" hreflang="fi" href="https://www.help.tinder.com/hc/fi">
<link rel="alternate" hreflang="fil" href="https://www.help.tinder.com/hc/fil">
<link rel="alternate" hreflang="fr" href="https://www.help.tinder.com/hc/fr">
<link rel="alternate" hreflang="he" href="https://www.help.tinder.com/hc/he">
<link rel="alternate" hreflang="hi" href="https://www.help.tinder.com/hc/hi">
<link rel="alternate" hreflang="hu" href="https://www.help.tinder.com/hc/hu">
<link rel="alternate" hreflang="id" href="https://www.help.tinder.com/hc/id">
<link rel="alternate" hreflang="it" href="https://www.help.tinder.com/hc/it">
<link rel="alternate" hreflang="ja" href="https://www.help.tinder.com/hc/ja">
<link rel="alternate" hreflang="ko" href="https://www.help.tinder.com/hc/ko">
<link rel="alternate" hreflang="ms" href="https://www.help.tinder.com/hc/ms">
<link rel="alternate" hreflang="nl" href="https://www.help.tinder.com/hc/nl">
<link rel="alternate" hreflang="no" href="https://www.help.tinder.com/hc/no">
<link rel="alternate" hreflang="pl" href="https://www.help.tinder.com/hc/pl">
<link rel="alternate" hreflang="pt" href="https://www.help.tinder.com/hc/pt">
<link rel="alternate" hreflang="pt-br" href="https://www.help.tinder.com/hc/pt-br">
<link rel="alternate" hreflang="ro" href="https://www.help.tinder.com/hc/ro">
<link rel="alternate" hreflang="ru" href="https://www.help.tinder.com/hc/ru">
<link rel="alternate" hreflang="sv" href="https://www.help.tinder.com/hc/sv">
<link rel="alternate" hreflang="th" href="https://www.help.tinder.com/hc/th">
<link rel="alternate" hreflang="tr" href="https://www.help.tinder.com/hc/tr">
<link rel="alternate" hreflang="uk" href="https://www.help.tinder.com/hc/uk">
<link rel="alternate" hreflang="vi" href="https://www.help.tinder.com/hc/vi">
<link rel="alternate" hreflang="zh-cn" href="https://www.help.tinder.com/hc/zh-cn">
<link rel="alternate" hreflang="zh" href="https://www.help.tinder.com/hc/zh-tw">

  <link rel="stylesheet" media="all" href="./Tinder_files/application-ebbf4a70487f9466c9be47bf4b6055f6.css" id="stylesheet">
    <!-- Entypo pictograms by Daniel Bruce — www.entypo.com -->
    <link rel="stylesheet" media="all" href="./Tinder_files/theming_v1_support-7eacdab8920220a42cfc91404f4ed182.css">
  <link rel="stylesheet" type="text/css" href="./Tinder_files/style.css">

  <link rel="shortcut icon" type="image/x-icon" href="https://theme.zdassets.com/theme_assets/302164/1a4e0749b1219022a357d7bfcdaf67359004bec6.ico">

    <script async="" src="./Tinder_files/analytics.js.다운로드"></script><script src="./Tinder_files/jquery-d5395f0b7ac5027403fc17855c46dbfc.js.다운로드"></script>
    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-60214108-6', 'auto');
ga('send', 'pageview');

</script>


  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<meta name="description" content="The Tinder FAQ. With 20 billion matches to date, Tinder is the world&#39;s most popular dating app and the best way to meet new people.">
<meta name="title" content="Tinder FAQ">
<script src="./Tinder_files/helpcenter.js.다운로드"></script>
<script>var cfaRules = [{"fieldType":"tagger","field":360013898451,"value":"f_android","select":[360013867472],"formId":360000234452,"requireds":[360013867472]},{"fieldType":"tagger","field":360013898451,"value":"f_web","select":[360013867472],"formId":360000234452,"requireds":[360013867472]},{"fieldType":"tagger","field":360013980472,"value":"f_cant_login_banned","select":[360013897951,360013861192],"formId":360000239791,"requireds":[360013861192,360013897951]},{"fieldType":"tagger","field":360013980472,"value":"f_cant_signup","select":[360013897951,360013898451,360013898471],"formId":360000239791,"requireds":[360013897951]},{"fieldType":"tagger","field":360013980472,"value":"f_cant_verify_email_phone","select":[360013897951,360013898451,360013861192],"formId":360000239791,"requireds":[360013861192,360013897951]},{"fieldType":"tagger","field":360013980472,"value":"f_delete_account_request","select":[360013861192,360013897951],"formId":360000239791,"requireds":[360013861192,360013897951]},{"fieldType":"tagger","field":360013980472,"value":"f_other_login_error","select":[360013897951,360013898451,360013861192,360017327092],"formId":360000239791,"requireds":[360013861192,360013897951]},{"fieldType":"tagger","field":360013980472,"value":"f_updated_phone_delete_account","select":[360013897951,360013861192],"formId":360000239791,"requireds":[360013861192,360013897951]},{"fieldType":"tagger","field":360013981632,"value":"f_cancel_request","select":[360013898451,360013897951],"formId":360000234452,"requireds":[360013898451,360013897951]},{"fieldType":"tagger","field":360013981632,"value":"f_fraud_report","select":[360013897951,360017616591],"formId":360000234452,"requireds":[360017616591,360013897951]},{"fieldType":"tagger","field":360013981632,"value":"f_missing_consumables","select":[360013897951,360013898451],"formId":360000234452,"requireds":[360013898451,360013897951]},{"fieldType":"tagger","field":360013981632,"value":"f_purchase_bug","select":[360013897951,360013905351,360013898451,360013898471],"formId":360000234452,"requireds":[360013905351,360013898451,360013897951]},{"fieldType":"tagger","field":360013981632,"value":"f_refund_request","select":[360013898451,360013897951],"formId":360000234452,"requireds":[360013898451,360013897951]},{"fieldType":"tagger","field":360013981632,"value":"f_restore_error","select":[360013897951,360013898451],"formId":360000234452,"requireds":[360013898451,360013897951]},{"fieldType":"tagger","field":360014562411,"value":"f_data_question","select":[360013897951],"formId":360000234472,"requireds":[360013897951]},{"fieldType":"tagger","field":360014562411,"value":"f_hacked_account","select":[360013897951,360013861192],"formId":360000234472,"requireds":[360013861192,360013897951]},{"fieldType":"tagger","field":360014562411,"value":"f_impersonation","select":[360013897951,360018444791],"formId":360000234472,"requireds":[360013897951,360018444791]},{"fieldType":"tagger","field":360014562411,"value":"f_offline_report","select":[360013897951,360014751212],"formId":360000234472,"requireds":[360013897951,360014751212]},{"fieldType":"tagger","field":360014562411,"value":"f_online_report","select":[360013897951,360013906571],"formId":360000234472,"requireds":[360013906571,360013897951]},{"fieldType":"tagger","field":360014562411,"value":"f_safety_concern","select":[360013897951],"formId":360000234472,"requireds":[360013897951]},{"fieldType":"tagger","field":360014562411,"value":"tinder_u_id_has_already_been_taken_","select":[360013897951],"formId":360000234472,"requireds":[]},{"fieldType":"checkbox","field":360017327092,"value":"yes","select":[360017327112],"formId":360000239791,"requireds":[360017327112]},{"fieldType":"checkbox","field":360017327092,"value":"yes","select":[360017327112],"formId":360000234392,"requireds":[360017327112]}];</script>

  <script type="text/javascript" src="./Tinder_files/script.js.다운로드"></script>
<style>/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

._324c4dab879ba825000621078996e10c-css{
  position:relative;
  border:1px solid #d8dcde;
  border-radius:4px;
  background-color:#fff;
  padding:20px 40px;
  line-height:1.42857;
  color:#68737d;
  font-size:14px;
}

._9ee6295a35c225acab03041dc37b1186-css{
  display:block;
  margin:0;
  color:#2f3941;
  font-weight:600;
}

._4b2402d3dcf0ba8467a8bb57bdd334e0-css{
  margin:10px 0 0;
}

._324c4dab879ba825000621078996e10c-css.a815ff12f2ffc9ac03483a39325a73dd-css{
  direction:rtl;
}

._99cc10b6fb8546b1d9c41bc41a9274a2-css{
  display:block;
  position:absolute;
  top:4px;
  right:4px;
  transition:background-color .1s ease-in-out;
  border:none;
  border-radius:50%;
  background-color:transparent;
  cursor:pointer;
  width:28px;
  height:28px;
  overflow:hidden;
  text-decoration:none;
  font-size:0;
  -webkit-user-select:none;
     -moz-user-select:none;
      -ms-user-select:none;
          user-select:none;
}

._99cc10b6fb8546b1d9c41bc41a9274a2-css:after,._99cc10b6fb8546b1d9c41bc41a9274a2-css:before{
  display:block;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  transition:opacity .25s ease-in-out;
  background-repeat:no-repeat;
  background-position:50%;
  background-size:12px;
  content:"";
}

._99cc10b6fb8546b1d9c41bc41a9274a2-css:before{
  opacity:1;
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' color='%2368737D'%3E%3Cpath stroke='currentColor' stroke-linecap='round' d='M3 9l6-6m0 6L3 3'/%3E%3C/svg%3E");
}

._99cc10b6fb8546b1d9c41bc41a9274a2-css:after{
  opacity:0;
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' color='%232F3941'%3E%3Cpath stroke='currentColor' stroke-linecap='round' d='M3 9l6-6m0 6L3 3'/%3E%3C/svg%3E");
}

._99cc10b6fb8546b1d9c41bc41a9274a2-css._6edeb16321555b35a02ac57333f29036-css:before,._99cc10b6fb8546b1d9c41bc41a9274a2-css._204ad43d6c8d258d0f4708d33517f31f-css:before,._99cc10b6fb8546b1d9c41bc41a9274a2-css:focus:before,._99cc10b6fb8546b1d9c41bc41a9274a2-css:hover:before{
  opacity:0;
}

._99cc10b6fb8546b1d9c41bc41a9274a2-css._6edeb16321555b35a02ac57333f29036-css:after,._99cc10b6fb8546b1d9c41bc41a9274a2-css._204ad43d6c8d258d0f4708d33517f31f-css:after,._99cc10b6fb8546b1d9c41bc41a9274a2-css:focus:after,._99cc10b6fb8546b1d9c41bc41a9274a2-css:hover:after{
  opacity:1;
}

._99cc10b6fb8546b1d9c41bc41a9274a2-css._6edeb16321555b35a02ac57333f29036-css,._99cc10b6fb8546b1d9c41bc41a9274a2-css:focus{
  outline:none;
  background-color:rgba(104, 115, 125, .15);
}

._324c4dab879ba825000621078996e10c-css.a815ff12f2ffc9ac03483a39325a73dd-css ._99cc10b6fb8546b1d9c41bc41a9274a2-css{
  right:auto;
  left:4px;
}

._279ce882d5b4d40f90157d4671782328-css:not(._8501c48b891d479c737404064489e941-css) ._99cc10b6fb8546b1d9c41bc41a9274a2-css:before{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' color='%23D93F4C'%3E%3Cpath stroke='currentColor' stroke-linecap='round' d='M3 9l6-6m0 6L3 3'/%3E%3C/svg%3E");
}

._279ce882d5b4d40f90157d4671782328-css:not(._8501c48b891d479c737404064489e941-css) ._99cc10b6fb8546b1d9c41bc41a9274a2-css:after{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' color='%23681219'%3E%3Cpath stroke='currentColor' stroke-linecap='round' d='M3 9l6-6m0 6L3 3'/%3E%3C/svg%3E");
}

.fe7beb0ccf1d204827f7c9a2e8998068-css:not(._8501c48b891d479c737404064489e941-css) ._99cc10b6fb8546b1d9c41bc41a9274a2-css:before{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' color='%23228F67'%3E%3Cpath stroke='currentColor' stroke-linecap='round' d='M3 9l6-6m0 6L3 3'/%3E%3C/svg%3E");
}

.fe7beb0ccf1d204827f7c9a2e8998068-css:not(._8501c48b891d479c737404064489e941-css) ._99cc10b6fb8546b1d9c41bc41a9274a2-css:after{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' color='%230B3B29'%3E%3Cpath stroke='currentColor' stroke-linecap='round' d='M3 9l6-6m0 6L3 3'/%3E%3C/svg%3E");
}

._8dd0a76f68c7953bb63fdf03cd572e56-css:not(._8501c48b891d479c737404064489e941-css) ._99cc10b6fb8546b1d9c41bc41a9274a2-css:before{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' color='%23AD5E18'%3E%3Cpath stroke='currentColor' stroke-linecap='round' d='M3 9l6-6m0 6L3 3'/%3E%3C/svg%3E");
}

._8dd0a76f68c7953bb63fdf03cd572e56-css:not(._8501c48b891d479c737404064489e941-css) ._99cc10b6fb8546b1d9c41bc41a9274a2-css:after{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' color='%23703B15'%3E%3Cpath stroke='currentColor' stroke-linecap='round' d='M3 9l6-6m0 6L3 3'/%3E%3C/svg%3E");
}

._279ce882d5b4d40f90157d4671782328-css:not(._8501c48b891d479c737404064489e941-css) ._99cc10b6fb8546b1d9c41bc41a9274a2-css._6edeb16321555b35a02ac57333f29036-css,._279ce882d5b4d40f90157d4671782328-css:not(._8501c48b891d479c737404064489e941-css) ._99cc10b6fb8546b1d9c41bc41a9274a2-css:focus{
  background-color:rgba(204, 51, 64, .15);
}

.fe7beb0ccf1d204827f7c9a2e8998068-css:not(._8501c48b891d479c737404064489e941-css) ._99cc10b6fb8546b1d9c41bc41a9274a2-css._6edeb16321555b35a02ac57333f29036-css,.fe7beb0ccf1d204827f7c9a2e8998068-css:not(._8501c48b891d479c737404064489e941-css) ._99cc10b6fb8546b1d9c41bc41a9274a2-css:focus{
  background-color:rgba(3, 129, 83, .15);
}

._8dd0a76f68c7953bb63fdf03cd572e56-css:not(._8501c48b891d479c737404064489e941-css) ._99cc10b6fb8546b1d9c41bc41a9274a2-css._6edeb16321555b35a02ac57333f29036-css,._8dd0a76f68c7953bb63fdf03cd572e56-css:not(._8501c48b891d479c737404064489e941-css) ._99cc10b6fb8546b1d9c41bc41a9274a2-css:focus{
  background-color:rgba(173, 94, 24, .15);
}

._324c4dab879ba825000621078996e10c-css ._99cc10b6fb8546b1d9c41bc41a9274a2-css._6edeb16321555b35a02ac57333f29036-css:active,._324c4dab879ba825000621078996e10c-css ._99cc10b6fb8546b1d9c41bc41a9274a2-css:focus:active{
  background-color:transparent;
}

._506878364b501ddbc318474af37cf483-css{
  background-color:#f8f9f9;
}

._41abcb0799d71837a0174b2f8e5abbb8-css{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' color='%2368737D'%3E%3Cg stroke='currentColor'%3E%3Ccircle cx='7.5' cy='8.5' r='7' fill='none'/%3E%3Cpath stroke-linecap='round' d='M7.5 12.5V8'/%3E%3C/g%3E%3Ccircle cx='7.5' cy='5' r='1' fill='currentColor'/%3E%3C/svg%3E");
}

._279ce882d5b4d40f90157d4671782328-css{
  border-color:#f5b5ba;
  background-color:#fff0f1;
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' color='%23CC3340'%3E%3Cg fill='none' stroke='currentColor'%3E%3Ccircle cx='7.5' cy='8.5' r='7'/%3E%3Cpath stroke-linecap='round' d='M7.5 4.5V9'/%3E%3C/g%3E%3Ccircle cx='7.5' cy='12' r='1' fill='currentColor'/%3E%3C/svg%3E");
  color:#8c232c;
}

.fe7beb0ccf1d204827f7c9a2e8998068-css{
  border-color:#aecfc2;
  background-color:#edf8f4;
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' color='%23038153'%3E%3Cg fill='none' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4 9l2.5 2.5 5-5'/%3E%3Ccircle cx='7.5' cy='8.5' r='7'/%3E%3C/g%3E%3C/svg%3E");
  color:#186146;
}

._8dd0a76f68c7953bb63fdf03cd572e56-css{
  border-color:#fcdba9;
  background-color:#fff8ed;
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' color='%23AD5E18'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' d='M.88 13.77L7.06 1.86c.19-.36.7-.36.89 0l6.18 11.91c.17.33-.07.73-.44.73H1.32c-.37 0-.61-.4-.44-.73zM7.5 6v3.5'/%3E%3Ccircle cx='7.5' cy='12' r='1' fill='currentColor'/%3E%3C/svg%3E");
  color:#ad5e18;
}

._279ce882d5b4d40f90157d4671782328-css,._41abcb0799d71837a0174b2f8e5abbb8-css,.fe7beb0ccf1d204827f7c9a2e8998068-css,._8dd0a76f68c7953bb63fdf03cd572e56-css{
  background-repeat:no-repeat;
  background-position:24px 22px;
  padding-left:50px;
}

._8501c48b891d479c737404064489e941-css{
  box-shadow:0 20px 28px 0 rgba(4, 68, 77, .15);
}

._8501c48b891d479c737404064489e941-css._279ce882d5b4d40f90157d4671782328-css,._8501c48b891d479c737404064489e941-css.fe7beb0ccf1d204827f7c9a2e8998068-css,._8501c48b891d479c737404064489e941-css._8dd0a76f68c7953bb63fdf03cd572e56-css{
  border-color:#d8dcde;
  background-color:#fff;
  color:#49545c;
}

._279ce882d5b4d40f90157d4671782328-css ._9ee6295a35c225acab03041dc37b1186-css{
  color:#681219;
}

.fe7beb0ccf1d204827f7c9a2e8998068-css ._9ee6295a35c225acab03041dc37b1186-css{
  color:#0b3b29;
}

._8dd0a76f68c7953bb63fdf03cd572e56-css ._9ee6295a35c225acab03041dc37b1186-css{
  color:#703b15;
}

._8501c48b891d479c737404064489e941-css._279ce882d5b4d40f90157d4671782328-css ._9ee6295a35c225acab03041dc37b1186-css{
  color:#cc3340;
}

._8501c48b891d479c737404064489e941-css.fe7beb0ccf1d204827f7c9a2e8998068-css ._9ee6295a35c225acab03041dc37b1186-css{
  color:#038153;
}

._8501c48b891d479c737404064489e941-css._8dd0a76f68c7953bb63fdf03cd572e56-css ._9ee6295a35c225acab03041dc37b1186-css{
  color:#ad5e18;
}

._279ce882d5b4d40f90157d4671782328-css.a815ff12f2ffc9ac03483a39325a73dd-css,._41abcb0799d71837a0174b2f8e5abbb8-css.a815ff12f2ffc9ac03483a39325a73dd-css,.fe7beb0ccf1d204827f7c9a2e8998068-css.a815ff12f2ffc9ac03483a39325a73dd-css,._8dd0a76f68c7953bb63fdf03cd572e56-css.a815ff12f2ffc9ac03483a39325a73dd-css{
  background-position:calc(100% - 24px) 22px;
  padding-right:50px;
  padding-left:40px;
}
</style><style>.f6cbf5dbd7094638d94a9d48de4272ad-css {
}</style><script charset="utf-8" src="./Tinder_files/react-03c4709ea5c3a3bd363a7972f8702633.js.다운로드"></script><script charset="utf-8" src="./Tinder_files/54-751fde06e0ac2e599e1b1826981b1067.js.다운로드"></script><script src="./Tinder_files/answerBot.js.다운로드"></script><style>.f03d2584f163e3a2a104f430a15af54f-css {
}

._0124f0de2dc35111e0d8b199e6bb02be-css {
}

._0d5695f717dac86f770885896d0cc158-css {
}

._32a324f27ebbfe9056eefe6cd6265e5e-css {
}

._9440ef67f6ee9ccf66b65592d4b77443-css {
  background-color: #f8f9f9;
}

._047323d4ac69153cd407a6ff44f5dfbb-css {
  background-color: transparent !important;
  padding: 0;
}

.f98a1b53ec6ec5c3dbe53172cbc6ff12-css {
}

.cd6ad42ca215ebe694a751df9ffe4754-css {
}

._770067c5bcccbf7afc960ad9271b90f2-css {
}
</style><style>._63983a716933a264792c2d8aeb1396b7-css {
  position: fixed;
  top: 16px;
  right: 16px;
  width: 360px;
  z-index: 2147483647;
}

[dir="rtl"] ._63983a716933a264792c2d8aeb1396b7-css {
  right: 0;
  left: 16px;
}

._63983a716933a264792c2d8aeb1396b7-css > * {
  margin-bottom: 10px;
}</style></head>
<body class="">
  
  

  <header class="header">
  <div class="logo">
    <a title="홈" href="https://www.help.tinder.com/hc/ko">
      <img class="desktop-logo" src="함께혼밥1.png">
	    <img class="mobile-logo" src="./Tinder_files/e2c4486b408ebdc36ef1b653cae4c173c0ca9d24.svg" alt="Tinder FAQ">
    </a>
  </div>
  <div class="nav-wrapper">
    <span class="icon-menu"></span>
    <nav class="user-nav" id="user-nav">
      <a href="https://tinder.com/">Back to 함께혼밥</a>
    </nav>
  </div>
</header>


  <main role="main">
    <section class="section hero">
  <div class="hero-inner">
    <div class="hero-mobile-greeting"> 무엇을 도와 드릴까요? </div>
    <form role="search" class="search search-full" data-search="" data-instant="true" autocomplete="off" action="https://www.help.tinder.com/hc/ko/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓"><input type="search" name="query" id="query" placeholder="검색" autocomplete="off" aria-label="검색"></form>
  </div>
</section>

<div class="container blocks-container">
  <section class="section knowledge-base">
    <section class="categories blocks">
      <ul class="blocks-list">
        
          
            <li class="blocks-item">
              <a href="https://www.help.tinder.com/hc/ko/categories/115000755686-Tinder-%EC%82%AC%EC%9A%A9%EC%9E%90-%EA%B0%80%EC%9D%B4%EB%93%9C-" class="blocks-item-link">
                <h4 class="blocks-item-title">함께혼밥 사용자 가이드 </h4>
                <p class="blocks-item-description"></p>
              </a>
            </li>
          
        
          
            <li class="blocks-item">
              <a href="file:///C:/Users/NT900X5L/Desktop/%EC%9B%B9%EA%B0%9C%EB%B0%9C%ED%8F%B4%EB%8D%94/%EB%AC%B8%EC%A0%9C%20%ED%95%B4%EA%B2%B0%20%E2%80%93%20Tinder.html" class="blocks-item-link">
                <h4 class="blocks-item-title">문제 해결</h4>
                <p class="blocks-item-description"></p>
              </a>
            </li>
          
        
          
            <li class="blocks-item">
              <a href="https://www.help.tinder.com/hc/ko/categories/115000771783-%EC%95%88%EC%A0%84-%EB%B3%B4%EC%95%88-%EA%B0%9C%EC%9D%B8%EC%A0%95%EB%B3%B4" class="blocks-item-link">
                <h4 class="blocks-item-title">안전, 보안, 개인정보</h4>
                <p class="blocks-item-description"></p>
              </a>
            </li>
          
        
      </ul>
      
    </section>

    
  </section>


</div>

  </main>

  <div id="footer-links">
  <a href="https://www.gotinder.com/privacy">Privacy</a>
  
  <div class="dropdown language-selector" aria-haspopup="true">
    <a class="dropdown-toggle">
      한국어
    </a>
    <span class="dropdown-menu dropdown-menu-end" role="menu">
      
        <a href="https://www.help.tinder.com/hc/change_language/ar?return_to=%2Fhc%2Far%3Futm_source%3Dweb" dir="rtl" rel="nofollow" role="menuitem">
          العربية
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/bg?return_to=%2Fhc%2Fbg%3Futm_source%3Dweb" dir="ltr" rel="nofollow" role="menuitem">
          Български
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/ca?return_to=%2Fhc%2Fca%3Futm_source%3Dweb" dir="ltr" rel="nofollow" role="menuitem">
          Català
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/cs?return_to=%2Fhc%2Fcs%3Futm_source%3Dweb" dir="ltr" rel="nofollow" role="menuitem">
          Čeština
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/da?return_to=%2Fhc%2Fda%3Futm_source%3Dweb" dir="ltr" rel="nofollow" role="menuitem">
          Dansk
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/de?return_to=%2Fhc%2Fde%3Futm_source%3Dweb" dir="ltr" rel="nofollow" role="menuitem">
          Deutsch
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/el?return_to=%2Fhc%2Fel%3Futm_source%3Dweb" dir="ltr" rel="nofollow" role="menuitem">
          Ελληνικά
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/en-us?return_to=%2Fhc%2Fen-us%3Futm_source%3Dweb" dir="ltr" rel="nofollow" role="menuitem">
          English (US)
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/es?return_to=%2Fhc%2Fes%3Futm_source%3Dweb" dir="ltr" rel="nofollow" role="menuitem">
          Español
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/es-419?return_to=%2Fhc%2Fes-419%3Futm_source%3Dweb" dir="ltr" rel="nofollow" role="menuitem">
          Español (Latinoamérica)
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/es-es?return_to=%2Fhc%2Fes-es%3Futm_source%3Dweb" dir="ltr" rel="nofollow" role="menuitem">
          Español (España)
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/fi?return_to=%2Fhc%2Ffi%3Futm_source%3Dweb" dir="ltr" rel="nofollow" role="menuitem">
          Suomi
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/fil?return_to=%2Fhc%2Ffil%3Futm_source%3Dweb" dir="ltr" rel="nofollow" role="menuitem">
          Filipino
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/fr?return_to=%2Fhc%2Ffr%3Futm_source%3Dweb" dir="ltr" rel="nofollow" role="menuitem">
          Français
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/he?return_to=%2Fhc%2Fhe%3Futm_source%3Dweb" dir="rtl" rel="nofollow" role="menuitem">
          עברית
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/hi?return_to=%2Fhc%2Fhi%3Futm_source%3Dweb" dir="ltr" rel="nofollow" role="menuitem">
          हिंदी
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/hu?return_to=%2Fhc%2Fhu%3Futm_source%3Dweb" dir="ltr" rel="nofollow" role="menuitem">
          Magyar
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/id?return_to=%2Fhc%2Fid%3Futm_source%3Dweb" dir="ltr" rel="nofollow" role="menuitem">
          Bahasa Indonesia
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/it?return_to=%2Fhc%2Fit%3Futm_source%3Dweb" dir="ltr" rel="nofollow" role="menuitem">
          Italiano
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/ja?return_to=%2Fhc%2Fja%3Futm_source%3Dweb" dir="ltr" rel="nofollow" role="menuitem">
          日本語
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/ms?return_to=%2Fhc%2Fms%3Futm_source%3Dweb" dir="ltr" rel="nofollow" role="menuitem">
          Bahasa Melayu
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/nl?return_to=%2Fhc%2Fnl%3Futm_source%3Dweb" dir="ltr" rel="nofollow" role="menuitem">
          Nederlands
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/no?return_to=%2Fhc%2Fno%3Futm_source%3Dweb" dir="ltr" rel="nofollow" role="menuitem">
          Norsk
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/pl?return_to=%2Fhc%2Fpl%3Futm_source%3Dweb" dir="ltr" rel="nofollow" role="menuitem">
          Polski
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/pt?return_to=%2Fhc%2Fpt%3Futm_source%3Dweb" dir="ltr" rel="nofollow" role="menuitem">
          Português
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/pt-br?return_to=%2Fhc%2Fpt-br%3Futm_source%3Dweb" dir="ltr" rel="nofollow" role="menuitem">
          Português do Brasil
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/ro?return_to=%2Fhc%2Fro%3Futm_source%3Dweb" dir="ltr" rel="nofollow" role="menuitem">
          Română
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/ru?return_to=%2Fhc%2Fru%3Futm_source%3Dweb" dir="ltr" rel="nofollow" role="menuitem">
          Русский
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/sv?return_to=%2Fhc%2Fsv%3Futm_source%3Dweb" dir="ltr" rel="nofollow" role="menuitem">
          svenska
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/th?return_to=%2Fhc%2Fth%3Futm_source%3Dweb" dir="ltr" rel="nofollow" role="menuitem">
          ไทย
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/tr?return_to=%2Fhc%2Ftr%3Futm_source%3Dweb" dir="ltr" rel="nofollow" role="menuitem">
          Türkçe
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/uk?return_to=%2Fhc%2Fuk%3Futm_source%3Dweb" dir="ltr" rel="nofollow" role="menuitem">
          Українська
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/vi?return_to=%2Fhc%2Fvi%3Futm_source%3Dweb" dir="ltr" rel="nofollow" role="menuitem">
          Tiếng Việt
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/zh-cn?return_to=%2Fhc%2Fzh-cn%3Futm_source%3Dweb" dir="ltr" rel="nofollow" role="menuitem">
          简体中文
        </a>
      
        <a href="https://www.help.tinder.com/hc/change_language/zh-tw?return_to=%2Fhc%2Fzh-tw%3Futm_source%3Dweb" dir="ltr" rel="nofollow" role="menuitem">
          繁體中文
        </a>
      
    </span>
  </div>

</div>




  <!-- / -->

  
  <script src="./Tinder_files/ko.bc18187633ecd6e08a6c.js.다운로드"></script>
  <script src="./Tinder_files/host.js.다운로드" data-brand-id="494434" data-return-to="https://www.help.tinder.com/hc/ko" data-theme="hc" data-locale="ko" data-auth-origin="494434,true,true"></script>

  <script type="text/javascript">
  /*

    Greetings sourcecode lurker!

    This is for internal Zendesk and legacy usage,
    we don't support or guarantee any of these values
    so please don't build stuff on top of them.

  */

  HelpCenter = {};
  HelpCenter.account = {"subdomain":"tinder","environment":"production","name":"Tinder"};
  HelpCenter.user = {"identifier":"da39a3ee5e6b4b0d3255bfef95601890afd80709","email":null,"name":null,"role":"anonymous","avatar_url":"https://assets.zendesk.com/hc/assets/default_avatar.png","is_admin":false,"organizations":[],"groups":[]};
  HelpCenter.internal = {"asset_url":"//static.zdassets.com/hc/assets/","web_widget_asset_composer_url":"https://static.zdassets.com/ekr/snippet.js","current_session":{"locale":"ko","csrf_token":"hc:hcobject:server:6EZaXGpCmaLJZeiG4e+vyo7iBJ7qz96/KOT53KKraP5x6bHeoDM7qNX6u8Gwtsd2a1Ejf9kctb+FcTysSCv9Mw==","shared_csrf_token":null},"settings":{},"usage_tracking":{"event":"front_page_viewed","data":"BAh7BjoKX21ldGF7CzoPYWNjb3VudF9pZGkDVJwEOhNoZWxwX2NlbnRlcl9pZGkEExnuCzoNYnJhbmRfaWRpA2KLBzoMdXNlcl9pZDA6DnVzZXJfcm9sZUkiDmFub255bW91cwY6BkVUOgtsb2NhbGVJIgdrbwY7C1Q=--2502c0bbf81d77cdb5747513941d7e2987358acc","url":"https://www.help.tinder.com/hc/tracking/events?locale=ko"},"current_record_id":null,"current_record_url":null,"current_record_title":null,"search_results_count":null,"current_text_direction":"ltr","current_brand_url":"https://tinder.zendesk.com","current_host_mapping":"www.help.tinder.com","current_path":null,"authentication_domain":"https://tinder.zendesk.com","show_autocomplete_breadcrumbs":true,"rollbar_config":{"enabled":true,"endpoint":"https://rollbar-us.zendesk.com/api/1/item/","accessToken":"731a5a953e9a4b7ab6cac9623f50c732","captureUncaught":true,"captureUnhandledRejections":true,"payload":{"environment":"production","client":{"javascript":{"source_map_enabled":true,"code_version":"560c8e5ee08da18b99bf074639e6428e9ee2bc75","guess_uncaught_frames":true}}}},"user_info_changing_enabled":false,"has_user_profiles_enabled":false,"user_aliases_enabled":false,"has_anonymous_kb_voting":true,"has_multi_language_help_center":true,"mobile_device":false,"mobile_site_enabled":false,"show_at_mentions":false,"embeddables_config":{"embeddables_web_widget":false,"embeddables_connect_ipms":false},"base_domain":"zendesk.com","answer_bot_subdomain":"static","plans_url":"https://www.help.tinder.com/hc/admin/plan?locale=ko","manage_content_url":"https://www.help.tinder.com/hc/ko","arrange_content_url":"https://www.help.tinder.com/hc/admin/arrange_contents?locale=ko","general_settings_url":"https://www.help.tinder.com/hc/admin/general_settings?locale=ko","user_segments_url":"https://tinder.zendesk.com/knowledge/user_segments?brand_id=494434","has_community_enabled":false,"has_community_badges":null,"has_user_segments":true,"has_answer_bot_web_form_enabled":false,"billing_url":"/access/return_to?return_to=https://tinder.zendesk.com/admin/billing/subscription","has_answer_bot":true,"has_block_answer_bot_embeddable":false,"answer_bot_management_url":"/access/return_to?return_to=https://tinder.zendesk.com/agent/admin/answer_bot","is_account_owner":false,"theming_cookie_key":"hc-da39a3ee5e6b4b0d3255bfef95601890afd807091-preview","is_preview":false,"has_guide_user_segments_search":true,"has_alternate_templates":false,"arrange_articles_url":"https://tinder.zendesk.com/knowledge/arrange?brand_id=494434","article_verification_url":"https://tinder.zendesk.com/knowledge/verification?brand_id=494434","has_article_verification":false,"guide_language_settings_url":"https://www.help.tinder.com/hc/admin/language_settings?locale=ko","docs_importer_url":"https://tinder.zendesk.com/knowledge/import_articles?brand_id=494434","community_badges_url":"https://tinder.zendesk.com/knowledge/community_badges?brand_id=494434","community_settings_url":"https://tinder.zendesk.com/knowledge/community_settings?brand_id=494434","gather_plan_state":"subscribed","search_settings_url":"https://tinder.zendesk.com/knowledge/search_settings?brand_id=494434","has_multibrand_search_in_plan":false,"theming_api_version":1,"has_merged_stats_endpoints":false,"has_pci_credit_card_custom_field":true,"current_brand_id":494434,"help_center_restricted":false,"current_brand_active":true,"is_assuming_someone_else":false,"flash_messages":[]};
</script>

  <script src="./Tinder_files/moment-f6f8513da6ab17eadada59a1a4edb536.js.다운로드"></script>
  <script src="./Tinder_files/hc_enduser-d89b9af9eb75b4299061aa68c999949a.js.다운로드"></script>
  

<div><div class="_63983a716933a264792c2d8aeb1396b7-css"></div></div><div><iframe data-reactroot="" id="automaticAnswers" class="zEWidget-automaticAnswers" tabindex="-1" style="border: none; background: transparent; transform: translateZ(0px); position: fixed; opacity: 0; bottom: 0px; margin: 0px 6px 6px 0px; z-index: 2147483647; right: 0px; height: 188px; width: 410px; transition-property: none; transition-timing-function: unset; top: -9999px;" src="./Tinder_files/saved_resource.html"></iframe></div></body></html>